.profile {
  color: white;
  flex: 1;
}
.avatar1 {
  position: fixed;
  top: 160px;
  left: 320px;
  width: 80px;
}
.profile > h1 {
  position: absolute;
  top: 100px;
  right: 900px;
  font-size: 26px;
}
.profile > h2 {
  position: absolute;
  top: 160px;
  right: 420px;
  font-size: 18px;
  background-color: grey;
  padding: 10px;
}
.profile_plans > h2 {
  position: absolute;
  top: -30px;
  right: 470px;
  font-size: 18px;
}

.profile_info {
  display: flex;
}
.profile_details {
  flex: 1;
  position: absolute;
  top: 160px;
  right: 520px;
}
.profile_details > h2 {
  background-color: grey;
  padding: 5px;
  color: white;
  font-size: 20px;
  width: 500px;
}

.signout_btn {
  padding: 8px;
  width: 500px;
  color: white;
  font-size: 18px;
  background-color: #e50914;
  position: absolute;
  top: 280px;
}
