.Nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 20px;
  padding: 20px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.Navbg {
  background-color: #111;
}
.Navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  position: fixed;
  top: 15px;
  left: 20px;
  width: 80px;
}
.avatar {
  position: fixed;
  top: 10px;
  right: 50px;
  width: 30px;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}
.header__option {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 1400px;
  top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}
.downarrow {
  position: fixed;
  left: 1000px;
  color: red;
  top: 5px;
}
.UserIcon1 {
  position: fixed;
  top: 10px;
}
.userprofile {
  text-decoration: none;
  position: fixed;
  top: 55px;
  color: red;
  right: 100px;
}
.signout {
  text-decoration: none;
  position: fixed;
  top: 80px;
  color: red;
  right: 100px;
  border-color: none;
  border: none;
  background-color: none;
}
.signout:hover {
  cursor: pointer;
}
.userprofile:hover {
  cursor: pointer;
}
.home {
  text-decoration: none;
  position: fixed;
  top: 30px;
  color: red;
  right: 100px;
}
.home:hover {
  cursor: pointer;
}
